<.header>
  Character {@character.id}
  <:subtitle>This is a character record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/characters/#{@character}/edit"}>
      <.button>Edit character</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@character.name}</:item>
</.list>

<.back navigate={~p"/characters"}>Back to characters</.back>
